<p id="notice"><%= notice %></p>

<p>
Tags: <%= raw @post.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %>
</p>

<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>Published:</strong>
  <%= @post.published %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @post.published_at %>
</p>

<hr>

<p>
  <strong>Comments:</strong>
</p>

<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :text %>
    <%= f.text_field :text %>
  </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.datetime_field :date, value: DateTime.current %>
  </div>

  <div class="field">
    <%= f.hidden_field :post_id, value: @post.id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

<div>
  <% @comments.each do |comment| %>
    <p>
      <%= comment.name %>
      <%= comment.text %>
      <%= comment.date %>
    </p>

  <% end %>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
